.DS_Store
**/.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.pio/
.pioenvs
.piolibdeps
cmake-build-*/
CMakeListsPrivate.txt
compile_commands.json
.cache/
.claude/
.junie/
.planning/
